<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width", initial-scale=1.0" />
    <title>Directivas</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
      h4{
        background-color: gainsboro;
        padding: 20px 0px;
        margin: 0
      }
    </style>
  </head>
  <body>
    <header></header>
    <nav></nav>
    <section>
      <div id="app2">
        <h4>Estudiantes UCE</h4>
        <input type="text" v-model="nombre" v-on:keypress.enter="agregarEstudiante2"/>
        <hr />
        <h3>Lista Estudiantes</h3>
        <ul>
          <!-- <li>{{miarreglo[0].nombre + ' ' + miarreglo[0].apellido}}</li>
          <li>{{miarreglo[1].nombre + ' ' + miarreglo[1].apellido}}</li>
          <li>{{miarreglo[2].nombre + ' ' + miarreglo[2].apellido}}</li>
          <li>{{miarreglo[3].nombre + ' ' + miarreglo[3].apellido}}</li>
          <li>{{miarreglo[4].nombre + ' ' + miarreglo[4].apellido}}</li> -->
        </ul>
        <ul>
          <li v-for="({nombre, apellido}, index) in miarreglo">
            <span>{{++index}} &nbsp {{nombre}} &nbsp</span>
            <blockquote v-if="apellido!==undefined">Apellido: {{apellido}}</blockquote>
            <blockquote v-show="apellido!==undefined">Apellido: {{apellido}}</blockquote>
          </li>
        </ul>
      </div>
    </section>
    <footer></footer>
    <script src="../js/vFor.js"></script>
  </body>
</html>
